<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFootball"
        tools:targetApi="31">
        <activity
            android:name=".ActivityWestHam"
            android:exported="false" />
        <activity
            android:name=".ActivityBrighton"
            android:exported="false" />
        <activity
            android:name=".ActivitySheffield"
            android:exported="false" />
        <activity
            android:name=".Activity_Fulham"
            android:exported="false" />
        <activity
            android:name=".Activity_Liverpool"
            android:exported="false" />
        <activity
            android:name=".Activity_Everton"
            android:exported="false" />
        <activity
            android:name=".ActivityManCity"
            android:exported="false" />
        <activity
            android:name=".ActivityManU"
            android:exported="false" />
        <activity
            android:name=".ActivityAston"
            android:exported="false" />
        <activity
            android:name=".ActivityLuton"
            android:exported="false" />
        <activity
            android:name=".ActivityTottenham"
            android:exported="false" />
        <activity
            android:name=".ActivityArsenal"
            android:exported="false" />
        <activity
            android:name=".ActivityChelsea"
            android:exported="false" />
        <activity
            android:name=".Activity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>